In [1]:
import pandas as pd
import os

In [10]:
df = pd.read_html('http://www.sii.cl/valores_y_fechas/uf/uf2020.htm',
                 thousands=".",
                 decimal=",")

In [11]:
df[-1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Día     31 non-null     int64
 1   Ene     31 non-null     float64
 2   Feb     29 non-null     float64
 3   Mar     31 non-null     float64
 4   Abr     30 non-null     float64
 5   May     31 non-null     float64
 6   Jun     30 non-null     float64
 7   Jul     31 non-null     float64
 8   Ago     31 non-null     float64
 9   Sep     30 non-null     float64
 10  Oct     31 non-null     float64
 11  Nov     9 non-null      float64
 12  Dic     0 non-null      float64
dtypes: float64(12), int64(1)
memory usage: 3.3 KB

In [13]:
df[-1]

,Día,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
0,1,28310.86,28339.17,28469.54,28601.15,28693.59,28716.52,28695.46,28666.51,28680.37,28708.80,28844.20,NaN
1,2,28311.77,28340.08,28475.41,28604.83,28696.46,28716.52,28694.50,28665.59,28681.30,28709.76,28849.76,NaN
2,3,28312.68,28341.00,28481.29,28608.51,28699.32,28716.52,28693.54,28664.66,28682.22,28710.72,28855.33,NaN
3,4,28313.60,28341.91,28487.16,28612.20,28702.19,28716.52,28692.59,28663.74,28683.14,28711.67,28860.90,NaN
4,5,28314.51,28342.82,28493.04,28615.88,28705.05,28716.52,28691.63,28662.81,28684.07,28712.63,28866.47,NaN
5,6,28315.42,28343.74,28498.92,28619.57,28707.92,28716.52,28690.67,28661.89,28684.99,28713.59,28872.04,NaN
6,7,28316.33,28344.65,28504.80,28623.25,28710.79,28716.52,28689.72,28660.96,28685.92,28714.54,28877.61,NaN
7,8,28317.25,28345.56,28510.68,28626.94,28713.65,28716.52,28688.76,28660.04,28686.84,28715.50,28883.18,NaN
8,9,28318.16,28346.48,28516.56,28630.63,28716.52,28716.52,28687.80,28659.11,28687.77,28716.46,28888.76,NaN
9,10,28319.07,28352.33,28520.23,28633.49,28716.52,28715.56,28686.87,28660.03,28688.73,28722.00,NaN,NaN
10,11,28319.99,28358.18,28523.91,28636.35,28716.52,28714.60,28685.95,28660.96,28689.68,28727.54,NaN,NaN
11,12,28320.90,28364.03,28527.58,28639.21,28716.52,28713.65,28685.02,28661.88,28690.64,28733.09,NaN,NaN
12,13,28321.81,28369.88,28531.25,28642.07,28716.52,28712.69,28684.10,28662.81,28691.59,28738.63,NaN,NaN
13,14,28322.73,28375.73,28534.93,28644.93,28716.52,28711.73,28683.17,28663.73,28692.55,28744.18,NaN,NaN
14,15,28323.64,28381.59,28538.60,28647.79,28716.52,28710.77,28682.25,28664.65,28693.51,28749.73,NaN,NaN
15,16,28324.55,28387.44,28542.28,28650.65,28716.52,28709.82,28681.32,28665.58,28694.46,28755.28,NaN,NaN
16,17,28325.47,28393.30,28545.95,28653.51,28716.52,28708.86,28680.39,28666.50,28695.42,28760.83,NaN,NaN
17,18,28326.38,28399.15,28549.63,28656.37,28716.52,28707.90,28679.47,28667.43,28696.37,28766.38,NaN,NaN
18,19,28327.29,28405.01,28553.31,28659.23,28716.52,28706.94,28678.54,28668.35,28697.33,28771.93,NaN,NaN
19,20,28328.21,28410.87,28556.98,28662.09,28716.52,28705.99,28677.62,28669.28,28698.29,28777.48,NaN,NaN
20,21,28329.12,28416.73,28560.66,28664.96,28716.52,28705.03,28676.69,28670.20,28699.24,28783.03,NaN,NaN
21,22,28330.03,28422.60,28564.34,28667.82,28716.52,28704.07,28675.77,28671.12,28700.20,28788.59,NaN,NaN
22,23,28330.95,28428.46,28568.02,28670.68,28716.52,28703.12,28674.84,28672.05,28701.15,28794.14,NaN,NaN
23,24,28331.86,28434.32,28571.70,28673.54,28716.52,28702.16,28673.92,28672.97,28702.11,28799.70,NaN,NaN
24,25,28332.77,28440.19,28575.38,28676.41,28716.52,28701.20,28672.99,28673.90,28703.07,28805.26,NaN,NaN
25,26,28333.69,28446.06,28579.06,28679.27,28716.52,28700.24,28672.06,28674.82,28704.02,28810.82,NaN,NaN
26,27,28334.60,28451.93,28582.74,28682.13,28716.52,28699.29,28671.14,28675.75,28704.98,28816.38,NaN,NaN
27,28,28335.51,28457.80,28586.42,28685.00,28716.52,28698.33,28670.21,28676.67,28705.94,28821.94,NaN,NaN
28,29,28336.43,28463.67,28590.10,28687.86,28716.52,28697.37,28669.29,28677.60,28706.89,28827.50,NaN,NaN
29,30,28337.34,NaN,28593.78,28690.73,28716.52,28696.42,28668.36,28678.52,28707.85,28833.07,NaN,NaN
30,31,28338.25,NaN,28597.46,NaN,28716.52,NaN,28667.44,28679.45,NaN,28838.63,NaN,NaN

In [71]:
df = pd.read_html('http://www.sii.cl/pagina/valores/uf/uf1990.htm')

In [72]:
df = df[-1]

In [75]:
list(range(1990, 2017 + 1))

[1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017]

In [85]:
fldr_out = "data_uf"

In [90]:
%%time
year = 1990
if year <= 1997:
    url = f"http://www.sii.cl/pagina/valores/uf/uf{year}.htm"
else:
    url = f"http://www.sii.cl/valores_y_fechas/uf/uf{year}.htm"
df = pd.read_html(url)
df = df[-1]
df = df.rename(columns=cols_dict)
df = pd.melt(df,
             id_vars="day",
             var_name="month",
             value_name="price")
df = df.dropna(subset=["price"])\
       .reset_index(drop=True)
df["year"] = 1990
df["date"] = pd.to_datetime(df[["year", "month", "day"]])

CPU times: user 32.4 ms, sys: 0 ns, total: 32.4 ms
Wall time: 181 ms

In [42]:
def extract(year):
    if year <= 2012:
        url = f"http://www.sii.cl/pagina/valores/uf/uf{year}.htm"
    else:
        url = f"http://www.sii.cl/valores_y_fechas/uf/uf{year}.htm"
    df = pd.read_html(url, thousands=".", decimal=",")
    df = df[-1]
    return df


def transform(df, year):
    cols_dict = {'Día': 'day',
      'Ene': 1, 'Feb': 2, 'Mar': 3,
      'Abr': 4, 'May': 5, 'Jun': 6,
      'Jul': 7, 'Ago': 8, 'Sep': 9,
      'Oct': 10, 'Nov': 11, 'Dic': 12}
    
    df = df.rename(columns=cols_dict)
    df = pd.melt(df,
                 id_vars="day",
                 var_name="month",
                 value_name="price")
    df = df.dropna(subset=["price"]).reset_index(drop=True)
    df["year"] = year
    df["date"] = pd.to_datetime(df[["year",
                                    "month",
                                    "day"]])
    return df


def load(df, year, fldr_out):
    os.makedirs(fldr_out, exist_ok=True)
    df.to_csv(os.path.join(fldr_out, f"{year}.csv"),
              index=False)


def ETL(year, fldr_out):
    df = extract(year)
    df = transform(df, year)
    load(df, year, fldr_out)

In [30]:
df = extract(2020)

In [31]:
df.head()

,Día,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
0,1,28.31086,28.33917,28.46954,28.60115,28.69359,28.71652,28.69546,28.66651,28.68037,28.70880,28.84420,NaN
1,2,28.31177,28.34008,28.47541,28.60483,28.69646,28.71652,28.69450,28.66559,28.68130,28.70976,28.84976,NaN
2,3,28.31268,28.34100,28.48129,28.60851,28.69932,28.71652,28.69354,28.66466,28.68222,28.71072,28.85533,NaN
3,4,28.31360,28.34191,28.48716,28.61220,28.70219,28.71652,28.69259,28.66374,28.68314,28.71167,28.86090,NaN
4,5,28.31451,28.34282,28.49304,28.61588,28.70505,28.71652,28.69163,28.66281,28.68407,28.71263,28.86647,NaN

In [32]:
df = transform(df, 2020)

In [33]:
df.head()

   day month     price  year       date
0    1     1  28310.86  2020 2020-01-01
1    2     1  28311.77  2020 2020-01-02
2    3     1  28312.68  2020 2020-01-03
3    4     1  28313.60  2020 2020-01-04
4    5     1  28314.51  2020 2020-01-05

In [34]:
df['year'] = 1990

In [58]:
df = df.dropna(subset=['price'])\
       .reset_index(drop=True)

In [65]:
df = pd.read_html('http://www.sii.cl/valores_y_fechas/uf/uf2020.htm')

In [70]:
df[-1]

,Día,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
0,1,28.31086,28.33917,28.46954,28.60115,28.69359,28.71652,28.69546,28.66651,28.68037,28.70880,28.84420,NaN
1,2,28.31177,28.34008,28.47541,28.60483,28.69646,28.71652,28.69450,28.66559,28.68130,28.70976,28.84976,NaN
2,3,28.31268,28.34100,28.48129,28.60851,28.69932,28.71652,28.69354,28.66466,28.68222,28.71072,28.85533,NaN
3,4,28.31360,28.34191,28.48716,28.61220,28.70219,28.71652,28.69259,28.66374,28.68314,28.71167,28.86090,NaN
4,5,28.31451,28.34282,28.49304,28.61588,28.70505,28.71652,28.69163,28.66281,28.68407,28.71263,28.86647,NaN
5,6,28.31542,28.34374,28.49892,28.61957,28.70792,28.71652,28.69067,28.66189,28.68499,28.71359,28.87204,NaN
6,7,28.31633,28.34465,28.50480,28.62325,28.71079,28.71652,28.68972,28.66096,28.68592,28.71454,28.87761,NaN
7,8,28.31725,28.34556,28.51068,28.62694,28.71365,28.71652,28.68876,28.66004,28.68684,28.71550,28.88318,NaN
8,9,28.31816,28.34648,28.51656,28.63063,28.71652,28.71652,28.68780,28.65911,28.68777,28.71646,28.88876,NaN
9,10,28.31907,28.35233,28.52023,28.63349,28.71652,28.71556,28.68687,28.66003,28.68873,28.72200,NaN,NaN
10,11,28.31999,28.35818,28.52391,28.63635,28.71652,28.71460,28.68595,28.66096,28.68968,28.72754,NaN,NaN
11,12,28.32090,28.36403,28.52758,28.63921,28.71652,28.71365,28.68502,28.66188,28.69064,28.73309,NaN,NaN
12,13,28.32181,28.36988,28.53125,28.64207,28.71652,28.71269,28.68410,28.66281,28.69159,28.73863,NaN,NaN
13,14,28.32273,28.37573,28.53493,28.64493,28.71652,28.71173,28.68317,28.66373,28.69255,28.74418,NaN,NaN
14,15,28.32364,28.38159,28.53860,28.64779,28.71652,28.71077,28.68225,28.66465,28.69351,28.74973,NaN,NaN
15,16,28.32455,28.38744,28.54228,28.65065,28.71652,28.70982,28.68132,28.66558,28.69446,28.75528,NaN,NaN
16,17,28.32547,28.39330,28.54595,28.65351,28.71652,28.70886,28.68039,28.66650,28.69542,28.76083,NaN,NaN
17,18,28.32638,28.39915,28.54963,28.65637,28.71652,28.70790,28.67947,28.66743,28.69637,28.76638,NaN,NaN
18,19,28.32729,28.40501,28.55331,28.65923,28.71652,28.70694,28.67854,28.66835,28.69733,28.77193,NaN,NaN
19,20,28.32821,28.41087,28.55698,28.66209,28.71652,28.70599,28.67762,28.66928,28.69829,28.77748,NaN,NaN
20,21,28.32912,28.41673,28.56066,28.66496,28.71652,28.70503,28.67669,28.67020,28.69924,28.78303,NaN,NaN
21,22,28.33003,28.42260,28.56434,28.66782,28.71652,28.70407,28.67577,28.67112,28.70020,28.78859,NaN,NaN
22,23,28.33095,28.42846,28.56802,28.67068,28.71652,28.70312,28.67484,28.67205,28.70115,28.79414,NaN,NaN
23,24,28.33186,28.43432,28.57170,28.67354,28.71652,28.70216,28.67392,28.67297,28.70211,28.79970,NaN,NaN
24,25,28.33277,28.44019,28.57538,28.67641,28.71652,28.70120,28.67299,28.67390,28.70307,28.80526,NaN,NaN
25,26,28.33369,28.44606,28.57906,28.67927,28.71652,28.70024,28.67206,28.67482,28.70402,28.81082,NaN,NaN
26,27,28.33460,28.45193,28.58274,28.68213,28.71652,28.69929,28.67114,28.67575,28.70498,28.81638,NaN,NaN
27,28,28.33551,28.45780,28.58642,28.68500,28.71652,28.69833,28.67021,28.67667,28.70594,28.82194,NaN,NaN
28,29,28.33643,28.46367,28.59010,28.68786,28.71652,28.69737,28.66929,28.67760,28.70689,28.82750,NaN,NaN
29,30,28.33734,NaN,28.59378,28.69073,28.71652,28.69642,28.66836,28.67852,28.70785,28.83307,NaN,NaN
30,31,28.33825,NaN,28.59746,NaN,28.71652,NaN,28.66744,28.67945,NaN,28.83863,NaN,NaN

In [44]:
%%time
import dask.bag as db 

fldr_out = "data_uf" 

b = db.from_sequence(range(1990, 2020 + 1))\
      .map(lambda year: ETL(year, fldr_out)) 

out = b.compute()

CPU times: user 137 ms, sys: 30.1 ms, total: 167 ms
Wall time: 4.64 s

In [40]:
b = db.from_sequence(range(1990, 2020 + 1))

[1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020]